/* Omeka CSS */
header { z-index: 1010; } /* core header is 999; OpenLayers controls are 1004

/* Desktops and laptops (w/ content @ 1180px, not 980px) */
@media only screen and (min-width : 1224px) {
  /* Skeleton CSS */
  .container { width: 1180px; }
  .container-twelve .ten.columns { width: 999px; }

  /* Scripto CSS */
  #scripto-openlayers {
    width: 100%;
    -webkit-transition: width 200ms ease;
    -moz-transition: width 200ms ease;
    -o-transition: width 200ms ease;
    transition: width 200ms ease;
  }
  #scripto-transcription-edit {
    position: relative;
    bottom: 466px;
    left: 715px;
    width: 49%;
    margin-bottom: -475px;
  }
  #scripto-transcription-page-html {
    height: 385px;
    overflow: scroll;
    padding: 0 1em;
    margin-top: 10px;
  }
  #scripto-transcribe.scripto p {
    position: relative;
    clear: left;
  }
  #scripto-transcription-edit textarea#scripto-transcription-page-wikitext {
    height: 402px;
    margin-bottom: 10px;
  }

  /* ScriptoFW CSS */
  .edit { width: 50% !important; }
}

/* Large screens (w/ content @ 1824px, not 1600px) */
@media only screen and (min-width : 1824px) {
  /* Skeleton CSS */
  .container { width: 1600px; }
  .container-twelve .ten.columns { width: 1420px; }

  /* Scripto CSS */
  #scripto-transcription-edit {
    position: relative;
    bottom: 466px;
    left: 785px;
    width: 49%;
    margin-bottom: -475px;
  }

  /* ScriptoFW CSS */
  .edit { 
    width: 50%;
  }
}
